{% extends 'base/base.html' %}
{% load static %}
{% block header %}
    <title>产品详情</title>
{% endblock %}
{% block container %}
    <!--主体-->
    <div class="weui-content">
      <!--产品详情-->
      <div class="weui-tab">
        <div
          class="weui-navbar proinfo-tab-menu"
          style=""
        >
          <a
            class="weui-navbar__item proinfo-tab-tit weui-bar__item--on"
            href="#tab1"
            >商品</a
          >
          <a class="weui-navbar__item proinfo-tab-tit" href="#tab2">详情</a>
          <a class="weui-navbar__item proinfo-tab-tit" href="#tab3">评价</a>
        </div>
        <div class="weui-tab__bd proinfo-tab-con">
          <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <!--主图轮播-->
            <div class="swiper-container swiper-zhutu">
              <div class="swiper-wrapper">
                {% for banner in object.banners.all %}
                <div class="swiper-slide"><img src="{{ banner.img.url }}" /></div>
                {% endfor %}
              </div>
              <div class="swiper-pagination swiper-zhutu-pagination"></div>
            </div>
            <div class="wy-media-box-nomg weui-media-box_text">
              <h4 class="wy-media-box__title">
                {{ object.name }}
              </h4>
              <div class="wy-pro-pri mg-tb-5">
                ¥<em class="num font-20">{{ object.price }}</em>
              </div>
              <p class="weui-media-box__desc">
                {{ object.desc|default_if_none:'' }}
              </p>
            </div>

            <div class="wy-media-box2 txtpd weui-media-box_text">
              <div class="weui-media-box_appmsg">
                <div class="weui-media-box__hd proinfo-txt-l">
                  <span class="promotion-label-tit">送至</span>
                </div>
                <a class="weui-media-box__bd" href="{% url 'accounts:address_list' %}">
                   {% if default_addr %}
                       <div class="">
                        <span class="promotion-item-text">{{ default_addr.show_addr }}</span>
                      </div>
                    {% else %}
                    <div class="promotion-message clear">
                        <span class="promotion-item-text">江苏</span>
                        <span class="promotion-item-text">宿迁</span>
                        <span class="promotion-item-text">洋河新区</span>
                      </div>
                    {% endif %}
                </a>
              </div>
              <div class="weui-media-box_appmsg">
                <div class="weui-media-box__hd proinfo-txt-l">
                  <span class="promotion-label-tit">运费</span>
                </div>
                <div class="weui-media-box__bd">
                  <div class="promotion-message clear">
                    <span class="promotion-item-text"
                      >免运费<!--<div class="wy-pro-pri">¥<span class="num">11.00</span></div>--></span
                    >
                  </div>
                </div>
              </div>
              <div class="weui-media-box_appmsg">
                <div class="weui-media-box__hd proinfo-txt-l">
                  <span class="promotion-label-tit">提示</span>
                </div>
                <div class="weui-media-box__bd">
                  <div class="promotion-message clear">
                    <span class="promotion-item-text"
                      ><p class="txt-color-ml">支持7天无理由退换货</p></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 商品详细信息 -->
          <div id="tab2" class="weui-tab__bd-item ">
            <div class="pro-detail">
              {{ object.content|safe }}
            </div>
          </div>
          <div id="tab3" class="weui-tab__bd-item">
            <!--评价-->
            {% for comment in object.get_comment_list %}
            <div class="weui-panel__bd">
              <div class="wy-media-box weui-media-box_text">
                <div class="weui-cell nopd weui-cell_access">
                  <div class="weui-cell__hd">
                    <img
                      src="/static/upload/headimg.jpg"
                      alt=""
                      style="width:20px;margin-right:5px;display:block"
                    />
                  </div>
                  <div class="weui-cell__bd weui-cell_primary">
                    <p>{{ comment.user.nickname }}</p>
                  </div>
                  <span class="weui-cell__time">{{ comment.created_at|date }}</span>
                </div>
                <div class="comment-item-star">
                  <span class="real-star comment-stars-width5"></span>
                </div>
                <p class="weui-media-box__desc">
                  {{ comment.desc }}
                </p>
                <ul class="weui-uploader__files clear mg-com-img">
                  {% for comment_img in comment.img_list.all %}
                  <li
                    class="weui-uploader__file"
                    style="background-image:url({{ comment_img.img.url }})"
                  ></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
            <a
              href="javascript:void(0);"
              class="weui-cell weui-cell_access weui-cell_link list-more"
            >
              <div class="weui-cell__bd">查看更多</div>
              <span class="weui-cell__ft"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span id="tophovertree" title="返回顶部"></span>
    <!--底部导航-->
    <div class="foot-black"></div>
    <div class="weui-tabbar wy-foot-menu">
      <a href="javascript:;" class="promotion-foot-menu-items">
        <div class="weui-tabbar__icon promotion-foot-menu-kefu"></div>
        <p class="weui-tabbar__label">客服</p>
      </a>
      <a href="javascript:;" id="show-toast"
         data-url="{% url 'mine:product_collect_add' object.uid %}"
         class="promotion-foot-menu-items">
        <div class="weui-tabbar__icon promotion-foot-menu-collection"></div>
        <p class="weui-tabbar__label">收藏</p>
      </a>
      <a href="{% url 'cart' %}" class="promotion-foot-menu-items">
        {% if cart_total.sum_count %}
          <span
          class="weui-badge"
          style="position: absolute;top: -.4em;right: 1em;"
          >{{ cart_total.sum_count }}</span>
          {% endif %}
        <div class="weui-tabbar__icon promotion-foot-menu-cart"></div>
        <p class="weui-tabbar__label">购物车</p>
      </a>
      <a
        href="javascript:;"
        class="weui-tabbar__item yellow-color open-popup"
        data-target="#join_cart"
        data-url="{% url 'mine:cart_add' object.uid %}"
        id="id_add_to_cart"
      >
        <p class="promotion-foot-menu-label">加入购物车</p>
      </a>
      <a
        href="javascript:;"
        class="weui-tabbar__item red-color open-popup"
        data-target="#selcet_sku"
      >
        <p class="promotion-foot-menu-label">立即购买</p>
      </a>
    </div>
    <div
      id="join_cart"
      class="weui-popup__container popup-bottom"
      style="z-index:600;"
    >
      <div class="weui-popup__overlay" style="opacity:1;"></div>
      <div class="weui-popup__modal">
        <div class="modal-content">
          <div class="weui-msg" style="padding-top:0;">
            <div class="weui-msg__icon-area">
              <i class="weui-icon-success weui-icon_msg"></i>
            </div>
            <div class="weui-msg__text-area">
              <h2 class="weui-msg__title">成功加入购物车</h2>
              <p class="weui-msg__desc">
                亲爱的用户，您的商品已成功加入购物车，为了保证您的商品快速送达，请您尽快到购物车结算。
              </p>
            </div>
            <div class="weui-msg__opr-area">
              <p class="weui-btn-area">
                <a href="{% url 'cart' %}" class="weui-btn weui-btn_primary"
                  >去购物车结算</a
                >
                <a
                  href="javascript:;"
                  class="weui-btn weui-btn_default close-popup"
                  >不，我再看看</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="selcet_sku"
      class="weui-popup__container popup-bottom"
      style="z-index:600;"
    >
      <div class="weui-popup__overlay" style="opacity:1;"></div>
      <div class="weui-popup__modal">
        <div class="toolbar">
          <div class="toolbar-inner">
            <a href="javascript:;" class="picker-button close-popup">关闭</a>
            <h1 class="title">请选择购买数量</h1>
          </div>
        </div>
        <div class="modal-content">
          <div class="weui-msg" style="padding-top:0;">
            {% csrf_token %}
            <div class="wy-media-box2 weui-media-box_text" style="margin:0;">
              <div class="weui-media-box_appmsg">
                <div class="weui-media-box__hd proinfo-txt-l">
                  <span class="promotion-label-tit">数量</span>
                </div>
                <div class="weui-media-box__bd">
                  <div class="promotion-sku clear">
                    <ul>
                      <li><a href="javascript:;">1</a></li>
                      <li><a href="javascript:;">2</a></li>
                      <li><a href="javascript:;">3</a></li>
                      <li><a href="javascript:;">5</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="weui-msg__opr-area">
              <p class="weui-btn-area">
                <a href="javascript:;"
                   data-url="{% url 'mine:cart_add' object.uid %}"
                   class="weui-btn weui-btn_primary"
                   id="id_buy_now"
                >立即购买</a>
                  <input type="hidden" id="id_input_buy_count">
                <a
                  href="javascript:;"
                  class="weui-btn weui-btn_default close-popup"
                  >不，我再看看</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block footer %}
    <script src="{% static 'js/swiper.js' %}"></script>
    <script>
      $('.swiper-zhutu').swiper({
        loop: true,
        paginationType: 'fraction',
        autoplay: 5000
      });
    </script>
    <script>
      $(function() {
        $('.promotion-sku li').click(function() {
          $(this)
            .addClass('active')
            .siblings('li')
            .removeClass('active');
          $("#id_input_buy_count").val($(this).text())
        });
      });
    </script>
    <script>
      $(document).on('click', '#show-toast', function() {
        $.post($('#show-toast').attr('data-url'), {}, function (rest) {
          if (rest === 'ok') {
              $.toast('收藏成功', function() {
                  console.log('close');
              });
          }
        })
      });
      // 加入购物车
      $("#id_add_to_cart").click(function (e) {
          e.preventDefault();
          $.post($(this).attr('data-url'), {
              count:  1
          }, function (rest) {
              if(rest === 'ok') {
                  $.toast('添加成功')
              } else{
                  $.toast('库存不足')
              }
          })
      });
      // 立即购买
      $("#id_buy_now").click(function() {
          $.post($(this).attr('data-url'), {
              count:  $("#id_input_buy_count").val()
          }, function (rest) {
              if(rest === 'ok') {
                  $.toast('购买成功')
                  window.location.href = '{% url 'cart' %}'
              } else{
                  $.toast('库存不足')
              }
          })
      })
    </script>
    <script>
      $(document)
        .on('open', '.weui-popup-modal', function() {
          console.log('open popup');
        })
        .on('close', '.weui-popup-modal', function() {
          console.log('close popup');
        });
    </script>
    <script>
      $(function() {
        initTopHoverTree('tophov' + 'ertree', 30, 10, 10);
      });
    </script>
    <script>
      function initTopHoverTree(hvtid, times, right, bottom) {
        $('#' + hvtid)
          .css('right', right)
          .css('bottmo', bottom);
        $('#' + hvtid).on('click', function() {
          goTopHovetree(times);
        });
        $(window).scroll(function() {
          if ($(window).scrollTop() > 268) {
            $('#' + hvtid).fadeIn(100);
          } else {
            $('#' + hvtid).fadeOut(100);
          }
        });
      }
      //返回顶部动画
      //goTop(500);//500ms内滚回顶部
      function goTopHovetree(times) {
        if (!!!times) {
          $(window).scrollTop(0);
          return;
        }
        var sh = $('body').scrollTop(); //移动总距离
        var inter = 13.333; //ms,每次移动间隔时间
        var forCount = Math.ceil(times / inter); //移动次数
        var stepL = Math.ceil(sh / forCount); //移动步长
        var timeId = null;
        function aniHovertree() {
          !!timeId && clearTimeout(timeId);
          timeId = null;
          //console.log($('body').scrollTop());
          if ($('body').scrollTop() <= 0 || forCount <= 0) {
            //移动端判断次数好些，因为移动端的scroll事件触发不频繁，有可能检测不到有<=0的情况
            $('body').scrollTop(0);
            return;
          }
          forCount--;
          sh -= stepL;
          $('body').scrollTop(sh);
          timeId = setTimeout(function() {
            aniHovertree();
          }, inter);
        }
        aniHovertree();
      }
    </script>
{% endblock %}
