{% extends 'base/base.html' %}
{% block header %}
    <title>商品分类</title>
{% endblock %}
{% block container %}
    <!--顶部搜索-->
    <!--主体-->
    <div class="wy-content">
      <div class="category-top">
        <header class="weui-header">
          <div class="weui-search-bar" id="searchBar">
            <form class="weui-search-bar__form">
              <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input
                  type="search"
                  class="weui-search-bar__input"
                  id="searchInput"
                  placeholder="搜索您想要的商品"
                  required
                />
                <a
                  href="javascript:"
                  class="weui-icon-clear"
                  id="searchClear"
                ></a>
              </div>
              <label
                class="weui-search-bar__label"
                id="searchText"
                style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);"
              >
                <i class="weui-icon-search"></i>
                <span>搜索您想要的商品</span>
              </label>
            </form>
            <a
              href="javascript:"
              class="weui-search-bar__cancel-btn"
              id="searchCancel"
              >取消</a
            >
          </div>
        </header>
      </div>
      <aside>
        <div class="menu-left scrollbar-none" id="sidebar">
          <ul>
            <li class="active">酒水食品</li>
            <li>家用电器</li>
            <li>电脑办公</li>
            <li>家具家居</li>
            <li>服装服饰</li>
            <li>个化护装</li>
            <li>衣帽鞋包</li>
            <li>运动户外</li>
            <li>汽车用品</li>
            <li>母婴玩具</li>
            <li>医药保健</li>
            <li>图书音像</li>
            <li>旅游生活</li>
          </ul>
        </div>
      </aside>
      <section class="menu-right padding-all j-content">
        <h5>酒水食品</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>酒水食品</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>家用电器</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>家用电器</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>电脑办公</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>电脑办公</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>家具家居</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>家具家居</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>

        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>服装服饰</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
      <section class="menu-right padding-all j-content" style="display:none">
        <h5>旅游生活</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
        <h5>旅游生活</h5>
        <ul>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
          <li class="w-3">
            <a href="{% url 'mall:product_list' %}"></a><img src="/static/images/icon-link2.png" /><span
              >酒水食品</span
            >
          </li>
        </ul>
      </section>
    </div>
    <!--底部导航-->
    {% include 'base/footer.html' with tab='classify' %}
{% endblock %}
{% block footer %}
    <script type="text/javascript">
      $(function($) {
        $('#sidebar ul li').click(function() {
          $(this)
            .addClass('active')
            .siblings('li')
            .removeClass('active');
          var index = $(this).index();
          $('.j-content')
            .eq(index)
            .show()
            .siblings('.j-content')
            .hide();
        });
      });
    </script>
{% endblock %}